[submodule "modules/home/sec/nix-security-box"]
	path = modules/home/sec/nix-security-box
	url = git@github.com:asynthe/nix-security-box.git
[submodule "home/modules/sec/nix-security-box"]
	path = home/modules/sec/nix-security-box
	url = git@github.com:asynthe/nix-security-box.git
